<!DOCTYPE html>
<html>
<head>
    <title>Chromesthesia</title>
</head>
<body>
    <h1>Welcome to Chromesthesia!</h1>
    <p />
    Chrometise MBID: 
    <a href='/chrometise/mbid/@Model.Mbids[0]'>
        @Model.Mbids[0]
    </a>
    &nbsp;
    <a href='/chrometise/mbid/@Model.Mbids[1]'>
        @Model.Mbids[1]
    </a>
    <p />
    Chrometise 7D:
    <a href='/chrometise/7d/@Model.Ids7D[0]'>
        @Model.Ids7D[0]
    </a>
    &nbsp;
    <a href='/chrometise/7d/@Model.Ids7D[1]'>
        @Model.Ids7D[1]
    </a>
</body>
</html>
