<!DOCTYPE html>
<html>
<head>
    <title>Chromesthesia</title>
</head>
<body>
    <h1>Welcome to Chromesthesia!</h1>
    <p />
    <p/>
    Chrometise 7D:
    <a href='/chrometise/7d/@Model.Tracks[0].Id7D'>
        @Model.Tracks[0].Id7D
    </a>
    &nbsp;
    <a href='/chrometise/7d/@Model.Tracks[1].Id7D'>
        @Model.Tracks[1].Id7D
    </a>
</body>
</html>