<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <h1>Welcome to Chromesthesia!</h1>
    <p />
    Chrometise MBID: 
    <a href='/chrometise/mbid/@Model.mbid'>
        @Model.mbid
    </a>
</body>
</html>
