<!DOCTYPE html>
<html>
<head>
    <title>Chromesthesia</title>
</head>
<body>
    <h1>Welcome to Chromesthesia!</h1>
    <p />
    <p />
    Chrometise 7D:
    <p/>
        @foreach (var track in Model.Tracks)
        {
            <a href='/chrometise/7d/@track.Id7D'>
                @track.Id7D
            </a>
            <br/>
        }
</body>
</html>
