<!DOCTYPE html>
<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        <h1>Chromesthesia</h1>
        Server Time: @Model.ServerTime
        <p/>
        Version: @Model.Version
        <p/>
        Machine Name: @Model.MachineName
        <p/>
        Acousticbrainz Status: @Model.AcousticbrainzStatus
        <p/>
    </div>
</body>
</html>
