<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Chromesthesia Survey</title>
    <link rel="stylesheet" href="Content/SurveyStyle.css" type="text/css" />
</head>
<body>
    <audio autoplay="true" loop="true">
        <source src="@Model.TrackPath" type="audio/mp3"/>
        Your browser does not support the audio element.
    </audio>
    <div id="topBar">
        <h2 style="color: white; float: left; margin: 1%; font-family: sans-serif">Chromesthesia Survey</h2>
    </div>
    <div id="centre">
        <div id="pallete">
            <div id="topColour" style="background-color: #ff0000"></div>
            <div id="topColour" style="background-color: #ff8000"></div>
            <div id="topColour" style="background-color: #ffff00"></div>
            <div id="topColour" style="background-color: #80ff00"></div>
            <div id="topColour" style="background-color: #0000ff"></div>
            <div id="topColour" style="background-color: #aa00ff"></div>
            
            <div id="midColour" style="background-color: #ff4d4d"></div>
            <div id="midColour" style="background-color: #ffa64d"></div>
            <div id="midColour" style="background-color: #ffff4d"></div>
            <div id="midColour" style="background-color: #a6ff4d"></div>
            <div id="midColour" style="background-color: #4d4dff"></div>
            <div id="midColour" style="background-color: #c44dff"></div>
            
            <div id="bottomColour" style="background-color: #5ab300"></div>
            <div id="bottomColour" style="background-color: #0000b3"></div>
            <div id="bottomColour" style="background-color: #7700b3"></div>
            <div id="bottomColour" style="background-color: #b30000"></div>
            <div id="bottomColour" style="background-color: #b35a00"></div>
            <div id="bottomColour" style="background-color: #b3b300"></div>

            <div id="greys" style="background-color: #ffffff"></div>
            <div id="greys" style="background-color: #aaaaaa"></div>
            <div id="greys" style="background-color: #444444"></div>
            <div id="greys" style="background-color: #000000"></div>
        </div>
    </div>
    <div id="bottomBar"></div>
</body>
</html>
