<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Chromesthesia Survey</title>
    <link rel="stylesheet" href="Content/SurveyStyle.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script src='Content/Scripts/surveyScripts.js' type='text/javascript'></script>
    <script src="//www.parsecdn.com/js/parse-1.3.4.min.js"></script>
</head>
<body>
    <audio id="audio" autoplay="true" loop="true">
        <source id="audioSource" src="" type="audio/mp3" />
        Your browser does not support the audio element.
    </audio>


    <div id="topBar">
        <h3 id="title"><a href="/">CHROMESTHESIA</a></h3>
        <input id="playPause" class="control" type="image" src="content/Images/play.png" />
        <input id="skip" class="control" type="image" src="content/Images/skip.png" />
    </div>

    <div id="intro">
        <div id="introBackground">
            <div id="introTop">
                Instructions
            </div>
            <div id="introMid">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br />
                Integer sed metus sem. Curabitur tincidunt maximus est id egestas.
            <br />
                Vestibulum at diam rutrum, luctus neque nec,
            <br />
                lacinia mauris.<p />
                Duis ac suscipit augue. Aliquam id egestas felis,<br />
                ac vulputate magna. Curabitur ut sem a dui fringilla finibus.
            <br />
                Nam purus dui, facilisis in diam non, sagittis fermentum nulla.
            <br />
            </div>
            <div id="introBottom">
                <button id="start">Okay</button>
            </div>
        </div>
    </div>
    <div id="centre">
        <div id="pallete">
            <button id="red" class="colour top" style="background-color: #ff0000"></button>
            <button id="orange" class="colour top" style="background-color: #ff8000"></button>
            <button id="yellow" class="colour top" style="background-color: #ffff00"></button>
            <button id="green" class="colour top" style="background-color: #80ff00"></button>
            <button id="blue" class="colour top" style="background-color: #0000ff"></button>
            <button id="purple" class="colour top" style="background-color: #aa00ff"></button>

            <button id="lightRed" class="colour mid" style="background-color: #ff4d4d"></button>
            <button id="lightOrange" class="colour mid" style="background-color: #ffa64d"></button>
            <button id="lightYellow" class="colour mid" style="background-color: #ffff4d"></button>
            <button id="lightGreen" class="colour mid" style="background-color: #a6ff4d"></button>
            <button id="lightBlue" class="colour mid" style="background-color: #4d4dff"></button>
            <button id="lightPurple" class="colour mid" style="background-color: #c44dff"></button>

            <button id="darkGreen" class="colour bottom" style="background-color: #5ab300"></button>
            <button id="darkBlue" class="colour bottom" style="background-color: #0000b3"></button>
            <button id="darkPurple" class="colour bottom" style="background-color: #7700b3"></button>
            <button id="darkRed" class="colour bottom" style="background-color: #b30000"></button>
            <button id="darkOrange" class="colour bottom" style="background-color: #b35a00"></button>
            <button id="DarkYellow" class="colour bottom" style="background-color: #b3b300"></button>

            <button id="white" class="colour grey" style="background-color: #ffffff"></button>
            <button id="lightGrey" class="colour grey" style="background-color: #aaaaaa"></button>
            <button id="darkGrey" class="colour grey" style="background-color: #444444"></button>
            <button id="black" class="colour grey" style="background-color: #000000"></button>
        </div>
    </div>
    <div id="bottomBar" style="text-align: right">
    </div>
</body>
</html>
