<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Chromesthesia.WebInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <section name="TrackList" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <buildProviders>
        <add extension=".cshtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyCSharpRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
        <add extension=".vbhtml" type="Nancy.ViewEngines.Razor.BuildProviders.NancyVisualBasicRazorBuildProvider, Nancy.ViewEngines.Razor.BuildProviders" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>

  <appSettings>
    <add key="webPages:Enabled" value="false" />
  </appSettings>
  
  <system.web.webPages.razor>
    <pages pageBaseType="Nancy.ViewEngines.Razor.NancyRazorViewBase">
      <namespaces>
        <add namespace="Nancy.ViewEngines.Razor" />
      </namespaces>
    </pages>
  </system.web.webPages.razor>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Chromesthesia.WebInterface.Properties.Settings>
      <setting name="ToMusicbrainzUrl" serializeAs="String">
        <value>http://will-i-munn-store.dokku.nix.sys.7d/api/track/musicbrainz?trackId={0}</value>
      </setting>
      <setting name="AcousticbrainzRoot" serializeAs="String">
        <value>http://acousticbrainz.org/</value>
      </setting>
      <setting name="HighLevel" serializeAs="String">
        <value>/high-level</value>
      </setting>
      <setting name="LowLevel" serializeAs="String">
        <value>/low-level</value>
      </setting>
    </Chromesthesia.WebInterface.Properties.Settings>
  </applicationSettings>

  <TrackList>
    <add key="0" value="/Content/Clips/50 Cent - In Da Club.mp3" />
    <add key="1" value="/Content/Clips/Alexisonfire - Boiled Frogs.mp3" />
    <add key="2" value="/Content/Clips/Aphex Twin - Windowlicker.mp3" />
    <add key="3" value="/Content/Clips/Bellowhead - London Town.mp3" />
    <add key="4" value="/Content/Clips/Billie Holiday - Come Rain Or Come Shine.mp3" />
    <add key="5" value="/Content/Clips/Bob Dylan - Mr Tambourine Man.mp3" />
    <add key="6" value="/Content/Clips/Calvin Harris - Blame.mp3" />
    <add key="7" value="/Content/Clips/Charles Loir - Danse Macabre .mp3" />
    <add key="8" value="/Content/Clips/City And Colour - Comin' Home.mp3" />
    <add key="9" value="/Content/Clips/Daft Punk - Around The World.mp3" />
    <add key="10" value="/Content/Clips/Deadmau5 - Ghosts 'n' Stuff.mp3" />
    <add key="11" value="/Content/Clips/Eminem - Lose Yourself.mp3" />
    <add key="12" value="/Content/Clips/Fleet Foxes - Meadowlarks.mp3" />
    <add key="13" value="/Content/Clips/Frank Sinatra - Fly Me to the Moon (in Other Words).mp3" />
    <add key="14" value="/Content/Clips/George Gershwin - Rhapsody In Blue.mp3" />
    <add key="15" value="/Content/Clips/Guns N' Roses - Sweet Child O' Mine.mp3" />
    <add key="16" value="/Content/Clips/Joe Dolce - Shaddap You Face.mp3" />
    <add key="17" value="/Content/Clips/Johnny Cash - Folsom Prison Blues.mp3" />
    <add key="18" value="/Content/Clips/Justin Bieber - Baby.mp3" />
    <add key="19" value="/Content/Clips/La Reverdie - La quarte estampie royal.mp3" />
    <add key="20" value="/Content/Clips/Lakme - The Flower Duet.mp3" />
    <add key="21" value="/Content/Clips/London Philharmonic Orchestra - Peter and the Wolf.mp3" />
    <add key="22" value="/Content/Clips/Los Campesinos! - What Death Leaves Behind.mp3" />
    <add key="23" value="/Content/Clips/Ludwig van Beethoven - Fur Elise.mp3" />
    <add key="24" value="/Content/Clips/Madness - One Step Beyond.mp3" />
    <add key="25" value="/Content/Clips/Metallica - Enter Sandman.mp3" />
    <add key="26" value="/Content/Clips/Michael Buble - It's Beginning To Look A Lot Like Christmas.mp3" />
    <add key="27" value="/Content/Clips/Miles Davis - All Blues.mp3" />
    <add key="28" value="/Content/Clips/O-Zone - Dragostea din tei.mp3" />
    <add key="29" value="/Content/Clips/Prince - Purple Rain.mp3" />
    <add key="30" value="/Content/Clips/Rage Against The Machine - Killing In The Name.mp3" />
    <add key="31" value="/Content/Clips/Rammstein - DU HAST.mp3" />
    <add key="32" value="/Content/Clips/Ravi Shankar - Swara-Kakali.mp3" />
    <add key="33" value="/Content/Clips/Salif Keita - Djembe.mp3" />
    <add key="34" value="/Content/Clips/Scott Joplin - The Entertainer.mp3" />
    <add key="35" value="/Content/Clips/Sex Pistols - Anarchy In The UK.mp3" />
    <add key="36" value="/Content/Clips/Skrillex - Scary Monsters And Nice Sprites.mp3" />
    <add key="37" value="/Content/Clips/Stevie Wonder - Living For The City.mp3" />
    <add key="38" value="/Content/Clips/T-Ara - Keep Out.mp3" />
    <add key="39" value="/Content/Clips/Tarkan - Simarik.mp3" />
    <add key="40" value="/Content/Clips/Taylor Swift - Love Story.mp3" />
    <add key="41" value="/Content/Clips/The Barbershop Singers - Hello My Baby.mp3" />
    <add key="42" value="/Content/Clips/The Beijing Players - Melody for Zhong Hu.mp3" />
    <add key="43" value="/Content/Clips/The Chemical Brothers - Galvanize.mp3" />
    <add key="44" value="/Content/Clips/The Northquest Players - Mi Reinita Hechicera.mp3" />
    <add key="45" value="/Content/Clips/The Wailers - Get Up, Stand Up.mp3" />
    <add key="46" value="/Content/Clips/The Who - Won't Get Fooled Again.mp3" />
    <add key="47" value="/Content/Clips/Vampire Weekend - A-Punk.mp3" />
    <add key="48" value="/Content/Clips/Venetian Snares - Plunging Hornets.mp3" />
  </TrackList>
</configuration>